:root {
    --primary-color: #344e4e; 
    --secondary-color: #49b8b2; 
    --dark-color: #282b31; 
    --light-color: #f9fafb; 
    --gray-color: #6b7280;
}

/*  Contenedor del Formulario */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light-color); 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 90%;
    max-width: 400px;
    text-align: center;
}

/* Título */
.titulo h1 {
    color: var(--primary-color); 
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Grupos de Input */
.input-group {
    padding: 8px;
}

.form-control {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--gray-color); 
    border-radius: 4px;
    box-sizing: border-box;
    
}

.form-control:focus {
    border-color: var(--secondary-color); 
    outline: none;
    box-shadow: 0 0 0 1px rgba(73, 184, 178, 0.3); /* Sombra */
}

/* Botón */
.button-container {
    padding: 8px;
    margin-top: 10px;
}

.btn-login {
    background-color: var(--secondary-color); 
    color: var(--dark-color);
    padding: 10px 20px;
    border: none; 
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;
}

.btn-login:hover {
    background-color: #94fff3; 
    color: var(--dark-color);
    transform: translateY(-3px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Enlace de Registro */
.registro-link {
    padding: 15px 8px 0;
    font-size: 0.9rem;
    color: var(--gray-color);
}

.registro-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.registro-link a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}


@media (max-width: 600px) {
    .login-container {
        margin: 20px;
    }
}